html {
    background-color: #a0d2eb8a;
}

#bookshelf {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
    
}

#new {
    margin: 0 auto;
    display: block;
    width: 200px;
    height: 60px;
    background-color: #228b22;
    color: white;
    font-size: 1.5em;
    font-family: Arial;
    border-radius: 12px;
    border: none;
    
}

#new:hover {
    color: white;
    transform: scale(1.3);
}

.bookmark {
    background-color: rgb(202, 148, 148);
    
}

p {
    height: 250px;
    background-color: #494d5f;
    text-align: center;
    padding-top: 30px;
    font-size: 18px;
    font-family: Arial;
    border-radius: 18px;
    color: white;
}

h1 {
    text-align: center;
    font-size: 50px;
    height:75px;
    font-family: Arial;
    color: #00003f;
}

#remove {
    border-radius: 12px;
    height: 40px;
    width: 120px;
    border: none;
    background-color: #a0d2eb8a;
    color: white; 
}

#remove:hover {
    background-color: #dc143c;
    color: white;
}

.modal{
    height: 60px;
    width: 200px;
    font-family: arial;
    font-size: 1.5em;
    border-radius: 18px;
    border: none;
    color: green;
    background-color: white;
    
}
.modal:hover{
    transform: scale(1.3);
}
.modalDiv{
    text-align: center;
    padding-bottom: 2em;
}

.hide{
    display: none;
}

form{
    text-align: center;
    padding-bottom: 2em;
    
}

input[type=text] {
    padding: 2px;
    
    border-color: black;
    height: 3em;
    margin: 0px 10px;
    font-family: arial;
}