html {
    background-color: bisque;
}

.bookshelf {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    background-color: white;
}

.bookmark {
    background-color: rgb(202, 148, 148);
    
}